<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
</head>

<body id="clrblk">
    <div class="container">
        <div style="padding-top:30px" class="panel-body">
            <h2>Insert PhD Student</h2>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <form id="" class="form-horizontal" role="form" method="post" action="/signup"
                onSubmit="return checkblank(this);">
                <% if (!(message instanceof Array)) { %>
                <div class="alert alert-success col-sm-12"><%= message %></div>
                <% } %>
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                    <label for="student_id" class="col-md-2 ">StudentId</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="student_id" placeholder="StudentId">
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-md-2 ">First Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-2 ">Last Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="st_sem" class="col-md-2 ">StSem</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="st_sem" placeholder="Fall">
                    </div>
                </div>
                <div class="form-group">
                    <label for="st_year" class="col-md-2 ">StYear</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="st_year" placeholder="2019">
                    </div>
                </div>
                <div class="form-group">
                    <label for="supervisor" class="col-md-2 ">Supervisor</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="supervisor" placeholder="Supervisor ID">
                    </div>
                </div>

                <div style="text-align: center;margin-bottom: 20px;margin-top: 20px;">
                    <h4> Support Type </h4>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="support_type" class="col-md-2 " style="margin-left: 15px;">GRA</label>
                        <div class="col-md-4" style="margin-left: 12px;">
                            <input type="text" class="form-control" name="funding" placeholder="Funding">
                        </div>
                        <div class="col-md-4" style="margin-left: 12px;">
                            <input type="text" class="form-control" name="gra_pay" placeholder="MonthlyPay">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="support_type" class="col-md-2 " style="margin-left: 15px;">GTA</label>
                        <div class="col-md-4" style="margin-left: 12px;">
                            <input type="text" class="form-control" name="section_id" placeholder="SectionId">
                        </div>
                        <div class="col-md-4" style="margin-left: 12px;">
                            <input type="text" class="form-control" name="gta_Pay" placeholder="MonthlyPay">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="support_type" class="col-md-2 " style="margin-left: 15px;">Scholarship</label>
                        <div class="col-md-4" style="margin-left: 12px;">
                            <input type="text" class="form-control" name="sc_type" placeholder="Type">
                        </div>
                        <div class="col-md-4" style="margin-left: 12px;">
                            <input type="text" class="form-control" name="sc_sourse" placeholder="Source">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-6 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-success"><i class="icon-hand-right"></i>
                            &nbsp
                            Insert
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div style="padding-top:30px" class="panel-body">
            <h2>Student Details</h2>
        </div>

        <div style="padding-top:30px" class="panel-body">
            <form id="" class="form-horizontal" role="form" method="post" action="/login">
                <div class="row">
                    <div class="form-group col-xs-5">
                        <label for="firstname" class="sr-only"></label>
                        <input id="" type="text" class="form-control" name="FName" value="" placeholder="FName">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="lastname" class="sr-only"></label>
                        <input id="login-password" style="margin-left: 12px;" type="text" class="form-control"
                            name="LName" placeholder="LName">
                    </div>
                    <div class="form-group col-xs-2">
                        <button id="btn-login" style="margin-left: 24px;" type="submit" class="btn btn-success">Submit
                        </button>
                    </div>
                    <div>
            </form>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <% if (message instanceof Array && message.length > 0) { %>
            <h2>Result</h2>
            <table class="table">
                <thead>
                    <th>Sup FName</th>
                    <th>Sup LName</th>
                    <th>StType</th>
                    <th>MName</th>
                    <th>PassDate</th>
                    </tr>
                </thead>
                <tbody>
                    <% message.forEach((obj) => { %>
                    <tr>
                        <td><%= obj.IFname  %> </td>
                        <td><%= obj.ILname  %></td>
                        <td><%= obj.Type  %></td>
                        <td><%= obj.MName  %></td>
                        <td><%= obj.PassDate  %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</body>

</html>