<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
</head>

<body id="clrblk">
    <div class="container">
        <div style="padding-top:30px" class="panel-body">
            <h2>Insert PhD Student</h2>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <form id="" class="form-horizontal" role="form" method="post" action="/signup"
                onSubmit="return checkblank(this);">
                <% if (message.length > 0) { %>
                <div class="alert alert-success col-sm-12"><%= message %></div>
                <% } %>
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                    <label for="first_name" class="col-md-2 ">First Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-2 ">Last Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mob_no" class="col-md-2 ">Mobile Number</label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="mob_no" placeholder="Mobile Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_name" class="col-md-2 ">User Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="user_name" placeholder="User Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 ">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-6 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-success"><i class="icon-hand-right"></i> &nbsp
                            Insert
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div style="padding-top:30px" class="panel-body">
            <h2>Student Details</h2>
        </div>

        <div style="padding-top:30px" class="panel-body">
            <form id="" class="form-horizontal" role="form" method="post" action="/login">
                <div class="row">
                    <div class="form-group col-xs-5">
                        <label for="firstname" class="sr-only"></label>
                        <input id="" type="text" class="form-control" name="FName" value="" placeholder="FName">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="lastname" class="sr-only"></label>
                        <input id="login-password" style="margin-left: 12px;" type="password" class="form-control"
                            name="LName" placeholder="LName">
                    </div>
                    <div class="form-group col-xs-2">
                        <button id="btn-login" style="margin-left: 24px;" type="submit" class="btn btn-success">Submit
                        </button>
                    </div>
                    <div>
            </form>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <% if (message instanceof Array && message.length > 0) { %>
            <h2>Result</h2>
            <table class="table">
                <thead>
                    <th>Sup FName</th>
                    <th>Sup LName</th>
                    <th>StType</th>
                    <th>MName</th>
                    <th>PassDate</th>
                    </tr>
                </thead>
                <tbody>
                    <% message.forEach((obj) => { %>
                    <tr>
                        <td><%= obj.IFname  %> </td>
                        <td><%= obj.ILname  %></td>
                        <td><%= obj.Type  %></td>
                        <td><%= obj.MName  %></td>
                        <td><%= obj.PassDate  %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</body>

</html>